.password-require {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #bdbdbd;
}

.layout-header img {
  /* padding-left: 11%; */
}

.forgot_illustration {
    /* padding-left: 11%; */
    /* padding-bottom: 16.8vh; */
    height: fit-content;
    padding-top: 20.56vh;
    display: flex;
    align-items: flex-end;
  }

.forgot_illustration h2 {
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    color: #F9F9FC;
    margin-bottom: 2.55rem;
  }
  
  .forgot_illustration span {
    font-family: DM Sans;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #F9F9FC;
    margin-bottom: 3rem;
  }
