.createProgram {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 3rem 4rem;
  width: 100%;
  max-width: 858px;
  margin: 0 auto;
}

.createProgram h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 2rem !important;
}

.copyLink {
  background: #fafafc;
  border-radius: 4px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 14px;
  color: #d1d1d1;
}

.btnWrapper {
  width: 100%;
  max-width: 858px;
  margin: 0 auto;
  text-align: right;
  padding: 2rem 0;
  column-gap: 1rem;
}

.btnWrapper button:first-child {
  background: #717177 !important;
  color: #fff !important;
}

.mentorList {
  border-bottom: 1px solid #ededed;
  padding-bottom: 1.7rem;
  margin-bottom: 2rem;
}

.mentorList div>img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.mentorList h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #878181;
}

.startupList {
  border-bottom: 1px solid #ededed;
  padding-bottom: 1.7rem;
  margin-bottom: 2rem;
}

.mentor img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mentor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.mentor:hover {
  background: rgba(0, 0, 0, 0.2)
}