.authContent h4 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  color: #f9f9fc;
}

.authContent p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .authContent h4 {
    font-size: 32px;
    line-height: 41px;
    max-width: 100%;
  }

  .authContent p {
    font-size: 1rem;
    line-height: 26px;
  }
}
