.confirm_email_border {
  border: 2px solid #00adef;
  border-radius: 10px;
}

.confirm_email {
  padding: 50px 18% !important;
}

.confirm_email h5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #d5d6f4;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.confirm_email p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #c0c1d4;
}

.resend_email {
  color: #00adef !important;
  text-decoration: none;
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
}

.forgot_illustration h2 {
    font-weight: bold;
    font-size: 50px !important;
    line-height: 65px !important;
    color: #F9F9FC;
    margin-bottom: 2.55rem;
}