.mentor_details_form_wrap {
  background: #f9f9fc;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  width: 100%;
  max-width: 929px;
  padding: 20px 5%;
  margin-bottom: 50px;
}

.mentor_details_form_wrap > h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
}

.mentor_details_form_wrap > p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
  margin-bottom: 44px;
}

.personal_info {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.personal_info h4 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #2e3192;
}

.gender_title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.gender_choice {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.male_btn,
.female_btn {
  border: none;
  width: 80%;
  height: 40px;
  padding: 10px 0;
  border-radius: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  background: #f9f9fc;
}

.male_btn, .female_btn:focus {
  color: #2e3192;
  background: #dcebff;
}

/* .female_btn {
  background: #f9f9fc;
} */