.progress-tag {
  font-family: DM Sans;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #828282;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 4px 10px;
}

.progress_evaluation {
  background: linear-gradient(180deg, #242679 -13.89%, #1d2147 100%);
  border-radius: 5px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  padding: 8px 25px;
  border: none;
}

.progress_evaluation:focus {
  outline: none;
}

.progress_evaluation:hover {
  background: none;
  border: 1.5px solid #242679;
  color: #242679;
}
