.layout-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.layout-main {
  display: grid;
  grid-template-columns: minmax(200px, 278px) 6fr;
}

.layoutChild {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.hams {
  display: none;
}

@media (max-width: 768px) {
  .layout-main {
    display: block;
    position: relative;
  }

  .sm-side {
    position: absolute;
    width: 400px;
    z-index: 200;
    left: 0;
    transition: all 0.5s;
  }

  .sm-side-close {
    position: absolute;
    width: 100%;
    max-width: 400px;
    z-index: 200;
    left: -400px;
    transition: all 0.5s;
  }

  .hams {
    display: block;
    margin-right: 10px;
  }

  .hams span {
    display: block;
    height: 3px;
    width: 20px;
    background-color: black;
  }

  .hams span:nth-child(2) {
    margin: 3px 0;
  }

  .hams-open span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
    transition: all 0.5s;
  }

  .hams-open span:nth-child(3) {
    opacity: 0;
  }

  .hams-open span:nth-child(2) {
    transform: rotate(-45deg);
    transition: all 0.5s;
  }
}
