.company_details h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 140%;
  color: rgba(24, 24, 25, 0.9);
}

.company_details h3 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}
