.forgot_illustration h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #2e3192;
  margin-bottom: 2.55rem;
}

.forgot_illustration p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #858585;
  margin-bottom: 3rem;
}

.forgot_illustration {
  padding-left: 11%;
  padding-bottom: 16.8vh;
  padding-top: 14.56vh;
  display: flex;
  align-items: flex-end;
}

.forgot_form {
  padding-bottom: 35.8vh;
  display: flex;
  align-items: flex-end;
}
