.forgot_illustration h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 49px;
  color: #2e3192;
  margin-bottom: 2.55rem;
}

.forgot_illustration span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 30px; */
  color: #F9F9FC;
  margin-bottom: 3rem;
}




/* .forgot_illustration {
  padding-left: 11%;
  padding-bottom: 16.8vh;
  padding-top: 14.56vh;
  display: flex;
  align-items: flex-end;
} */

.forgot_input {
  background: #2e3192;
  color: #F9F9FC;
  border: 1px solid #F9F9FC;
}

.forgot_form {
  /* padding-bottom: 35.8vh; */
  display: flex;
  align-items: flex-end;
}

.e-label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #d5d6f4;
}

.forgot-p {
  padding: 0px 50px;
}

@media (max-width: 1024px) {
  .forgot-p {
    padding: 0px 20px
  }
}