.card-for-invite {
  min-height: 250px;
}

.invite-strip {
  background: rgba(183, 218, 231, 0.5);
  border-radius: 10px;
  column-gap: 1.3rem;
  padding: 0.75rem 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #4f4f4f;
  cursor: pointer;
}

.do-later {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: #2e3192;
  cursor: pointer;
}

.modal-startup {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
