.gray-card {
    width: 100%;
    max-width: 585px;
    background: #f9f9fc;
    height: 100vh;
    border-radius: 10px;
    padding: 80px 6%;
  }
  
  .auth-wrap {
    height: 100vh;
    background-color: white;
  }
  
  .auth-wrap > section {
    height: inherit;
  }
  
  .auth-vector img {
    width: 100%;
    max-width: 486px;
    object-fit: contain;
    object-position: center;
  }
  
  .gray-card-input {
    background-color: white !important;
    max-width: 100% !important;
  }
  
  .auth-agree {
    column-gap: 19px;
  }
  
  .auth-agree input {
    background-color: red;
  }
  
  .auth-agree label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  
  .switch-auth {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #201f1f;
  }
  
  .switch-auth a {
    color: #2e3192;
    font-weight: 600;
  }
  
  .switch-signUp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
  }
  
  .switch-signUp button {
    background-color: transparent;
    border: 1px solid #00adef;
    border-radius: 8px;
    padding: 14px 30px;
    color: #00adef;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  
  .switch-signUp button:hover {
    background-color: #00adef;
    border: none;
    color: white;
  }
  
  .active-signUp {
    background-color: #00adef !important;
    border: none !important;
    color: white !important;
  }
  
  .switch-signUp button:focus {
    outline: none !important;
  }
  
  .checkbox-input {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
  }
  .checkbox-input div {
    background: #ffffff;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    border: 1px solid gray;
  }
  
  .checkbox-input input {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 3;
    opacity: 0;
  }
  
  .checkbox-input input:checked + div {
    background: #5355a3;
  }
  