.mentor_field input,
.select_field select {
  background: transparent!important;
  border-radius: 4px;
  width: 100%;
  max-width: 329px;
  height: 36px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #f9f9fc!important;
  border: 1px solid #e0e0e0!important;
  padding: 8px 14px!important;
}

.mentor_field input::placeholder {
  color: #bdbdbd!important;
}

.mentor_field label,
.select_field label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #d5d6f4!important;
  display: block;
  margin-bottom: 1rem;
}
