.layout-grid-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr 114px;
    max-height: 100vh;
}


.layout-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.layout-body {
    /* height: calc(100vh - 60px); */
}

.main-body {
    /* padding-right: 8vw; */
    max-height: calc(100vh - 60px);
}

.layout-criteria {
    display: block;
    /* grid-template-columns: minmax(200px, 278px) 6fr; */
}

.criteria-layout-child {
    height: calc(100vh - 60px - 114px) !important;
    overflow-y: auto;
}

.hams {
    display: none;
}

.layout-footer {
    border: 1px solid #E0E0E0;
    background-color: #fff;
    padding: 36px;
}

@media (max-width: 768px) {
    .layout-main {
        display: block;
        position: relative;
    }

    .main-body {
        padding-right: 0;
    }

    .sm-side {
        position: absolute;
        width: 400px;
        z-index: 200;
        left: 0;
        transition: all 0.5s;
    }

    .sm-side-close {
        position: absolute;
        width: 100%;
        max-width: 400px;
        z-index: 200;
        left: -400px;
        transition: all 0.5s;
    }

    .hams {
        display: block;
        margin-right: 10px;
    }

    .hams span {
        display: block;
        height: 3px;
        width: 20px;
        background-color: black;
    }

    .hams span:nth-child(2) {
        margin: 3px 0;
    }

    .hams-open span:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
        transition: all 0.5s;
    }

    .hams-open span:nth-child(3) {
        opacity: 0;
    }

    .hams-open span:nth-child(2) {
        transform: rotate(-45deg);
        transition: all 0.5s;
    }
}