.phone-input {
  display: flex;
  align-items: center;
  padding: 7px 13px;
  height: 36px;
  width: 100%;
  max-width: 529px;
  background: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.country-codes {
  display: flex;
  align-items: center;
  border-right: 1px solid #bdbdbd;
  padding-right: 12px;
  margin-right: 12px;
}

.input-phone {
  height: inherit;
  width: 100%;
  background-color: transparent;
  border: 0;
}

.phoneNumber label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #d5d6f4;
  margin-bottom: 1rem;
}

.phone-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #bdbdbd;
  margin-left: 5px;
}

.phone-dropdown {
  height: 300px;
  overflow-y: auto;
}
