.kv-modal-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #2e3192;
  text-align: left;
}

.kv-modal-content > header {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
  padding-top: 34.5px;
  margin: 0 5.6%;
  margin-bottom: 29px;
}

.modal-select {
  max-width: 392px !important;
}

.modal-free-txt {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 15px;
}

.backDrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background: rgba(45, 45, 53, 0.8);
  opacity: 0.5;
}

.small-modal {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 80vh;
}

@media (max-width: 768px) {
  .small-modal {
    width: 90%;
  }
}

.app_modal {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 80vh;
}

@media (max-width: 768px) {
  .app_modal {
    width: 90%;
  }
}

.large-modal {
  width: 65%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 8px;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 90vh;
}

@media (max-width: 768px) {
  .large-modal {
    width: 90%;
  }
}

.modalCloseImg {
  cursor: pointer;
}

.text-dark {
  color: #000000;
  font-weight: 600;
  font-size: x-large;
}
