.health_btn {
    font-family: DM Sans;
    font-size: 16px;
    line-height: 21px;
    color: #4F4F4F;
    border: none;
    background-color:#F9F9FC;
    border-radius: 10px;
    padding: 10px 32px;
}

.health_btn:hover {
    color: #2E3192;
    background-color: #DCEBFF;
}