.alert-wrap {
  width: 100%;
  max-width: 400px;
  min-height: 103px;
  background: #f9f9fc;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.2);
  border-radius: 3px;
  padding: 15px 17px;
  position: fixed;
  top: 70px;
  z-index: 100;
}

.show-alert {
  right: 3%;
  transition: all 0.6s ease-in-out;
}

.close-alert {
  right: -100%;
  transition: all 0.6s ease-in-out;
}

.alert-desc {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #42526e;
  margin-bottom: 11px;
  flex-basis: 70%;
}

.alert-action {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2e3192;
}
