.wrap {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(42, 63, 157, 0.05);
  border-radius: 10px;
  padding: 22px 3rem;
}

.admin_table th,
.admin_table td {
  border-top: none;
  border-color: #e7e7e7;
}

.admin_table thead {
  border: none;
}

.admin_table th {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
}

.admin_table td {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #878181;
}
