.dash-sub-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 140%;
  color: rgba(24, 24, 25, 0.9);
}
.dashboard-main {
  width: 100%;
}

.see-all {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: #041b55;
}

.network-space {
  background: #f9f9fc70;
  border-radius: 10px 0px 0px 0px;
}

.network-space-header {
  border-bottom: 1px solid #ececff;
  padding: 1.56rem 2.2rem;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network-space-header h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 140%;
  color: rgba(24, 24, 25, 0.9);
}

.opp-connects {
  padding: 1rem 2.2rem;
}

.connect-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1rem;
  object-position: center top;
  object-fit: cover;
}

.connect-content h5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 140%;
  color: #2e3192;
}

.connect-content p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 140%;
  color: #898989;
  margin-top: 4px;
  margin-bottom: 0.875rem;
}

.ignore-btn,
.accept-btn {
  border-radius: 4px;
  border: none;
  color: white;
  min-width: 99px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.625rem;
  line-height: 140%;
  color: #ffffff;
  padding: 5px 8px;
}

.accept-btn {
  background-color: #00adef;
  margin-right: 0.6875rem;
}

.ignore-btn {
  background-color: #cbc8c8;
}

.investor-dash-card {
  min-width: 180px;
  max-width: 205px;
}
