.profile {
  background-color: #edf1f4;
  padding: 48px 7%;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.profile-info {
  width: 100%;
  background-color: white;
  min-height: 400px;
  max-width: 1440px;
  margin: 0 auto;
}

.profile-banner {
  position: relative;
  height: 256px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.edit-banner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  top: 25px;
  right: 25px;
}

.profile-image {
  display: inline-block;
  width: 213px;
  height: 213px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -106px;
}

.profile-image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile-contact-info {
  padding: 0 43px;
  position: relative;
}

.edit-info {
  position: absolute;
  top: 25px;
  right: 25px;
}

.web-phone-local {
  column-gap: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.web-phone-local a {
  display: flex;
  align-items: center;
  column-gap: 6px;
  color: inherit;
}

.web-phone-local a:hover {
  text-decoration: none;
}

.web-phone-local p {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.profile-bio {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3e3e3e;
  width: 100%;
  max-width: 697px;
}

.profile-name {
  margin-top: 33px;
  margin-bottom: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
}

.contact-name {
  column-gap: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2e3192;
}

.profile-tab {
  height: 71px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 0 2.6%;
  max-width: 1440px;
  margin: 0 auto;
}

.profile-tab h2 {
  height: inherit;
  border-bottom: 7px solid #0A6CF4;
  display: flex;
  align-items: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #0a6cf4;
}

.profile-more {
  max-width: 1440px;
  margin: 0 auto;
}

.profile-offer-content {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.profile-offer-content h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 1rem;
}

.profile-offer-content p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3e3e3e;
}

.profile-offer-content p span {
  color: #00adef;
}

.cat-tag {
  height: 41px;
  background: #dcebff;
  border: 1px solid #d5d6f4;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  width: fit-content;
}

.partner-cat-header {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #000000;
}

.partner-cat-txt {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  color: #000000;
}

.free-credit-answer p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #828282;
}
.free-credit-answer {
  column-gap: 8px;
}

.free-credit-answer span {
  display: inline-block;
  width: 6px;
  height: 8px;
  background-color: #00adef;
}

.profile-offering {
  width: 100%;
  background-color: white;
  padding: 36px 7.26%;
}
