.confirm-email {
  padding: 80px 18% !important;
}

.confirm-email h5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 16px;
}

.confirm-email p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #828282;
}

.resend-email {
  color: #00adef !important;
  text-decoration: underline;
  margin-top: 4px;
}
