.opp_card {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 1.75rem 1.38rem;
}

.opp_content {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #5d5d5e;
  margin-top: 1rem;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}

.opp_footer_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #6466aa;
}

.opp_company {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 140%;
  color: rgba(24, 24, 25, 0.9);
}

.opp_tag {
  background: #e8f6fc;
  border-radius: 5px;
  padding: 4px 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.81rem;
  letter-spacing: 0.01em;
  color: #5d5d5e;
}

.active_dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #18a615;
}

.event_people {
  display: flex;
  align-items: flex-end;
}

.event_people img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.event_people img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  z-index: 999;
}

.event_people img:nth-child(2) {
  position: relative;
  left: -5px;
}

.event_people img:nth-child(3) {
  position: relative;
  left: -10px;
}

.event_date {
  font-family: Lato;
  font-size: 14px;
  line-height: 140%;
  color: #3855b3;
}

.event_date span {
  font-weight: 800;
}

.event_time {
  font-family: Lato;
  font-size: 12px;
  line-height: 140%;
  color: #858585;
}

.opp_card a {
  background: #2e3192;
  border-radius: 10px;
  padding: 8px 30px;
  border: none;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}

.opp_card a:hover {
  background: none;
  color: #2e3192;
  border: 1.5px solid #2e3192;
}

.opp_card a:focus {
  outline: none;
}
