.dashboard_profile {
}

.dashboard_profile_banner {
  position: relative;
  height: 198px;
  background: #00adef;
  border-radius: 5px;
  z-index: -1;
}

.dashboard_profile_image {
  display: inline-block;
  width: 213px;
  height: 213px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -106px;
  margin-left: 35px;
}

.dashboard_profile_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  z-index: 999;
}

.founder_details h3 {
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #323232;
}

.founder_details p {
  font-family: DM Sans;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #828282;
}

.details_founder p {
  font-family: DM Sans;
  font-size: 1rem;
  line-height: 140%;
  color: #323232;
}

.founder_main {
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.founder_main h3 {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #000000;
}

.founder_main p {
  font-family: DM Sans;
  font-size: 1rem;
  line-height: 24px;
  text-transform: capitalize;
  color: #323232;
}

.founder_experience p {
  font-family: DM Sans;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #828282;
}

.founder_experience h4 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #525151;
}

/* .founder_card {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 25px;
  margin-bottom: 40px;
} */
