.mentor_availability_question {
    font-family: DM Sans;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #323232;
  }
  
  .mentor_availabilty button {
    font-family: DM Sans;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    padding: 10px 32px;
    background: #F9F9FC;
    border-radius: 10px;
    border: none;
  }
  
  .mentor_availabilty button:focus {
    background: #dcebff;
    outline: none;
  }
  