.page-header {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 140%;
  color: #2e3192;
}

.drop-section {
  border-bottom: 1px solid #D5D6F4;
  padding: 1.5rem 0;
}