.btn-primary {
  background: #00adef;
}

.btn-secondary {
  background: #00adef;
}

.btn-primary:focus,
.btn-primary:active {
  outline: none;
  background: #2e3192 !important;
}
.btn-secondary:focus,
.btn-secondary:active {
  outline: none;
  background: #00adef !important;
}
.btn-main {
  border-radius: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  text-transform: none;
  padding: 10px 32px;
  transition: all 0.4s;
  border: none;
}

.btn-main:active {
  outline: none !important;
  box-shadow: none !important;
  transform: scale(0.97, 0.97);
  transition: all 0.4s;
}

.btn-main:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none;
}

.btn-main:disabled {
  background-color: lightgray;
}

.resend-code {
  display: flex;
  align-items: center;
  column-gap: 6px;
  justify-content: center;
  max-width: 585px;
  margin-top: 50px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(50, 52, 56, 0.6);
}

.resend-code p:last-child {
  color: #2e3192;
  font-weight: bold;
}
