.gray-signIn {
  width: 100%;
  max-width: 585px;
  background: #f9f9fc;
  border-radius: 10px;
  padding: 80px 6%;
}

.forgot-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2e3192;
}
