.product-wrap {
  background-color: white;
  padding: 1.5rem 1.75rem;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.product-wrap h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 1rem;
}

.prod-desc {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #323232;
  width: 90%;
}

.product-demo {
  width: 100%;
  max-width: 451px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.product-founder img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 1.5rem;
}

.product-founder p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 140%;
  color: #323232;
}

.product-founder small {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.31rem;
  letter-spacing: 0.01em;
  color: #828282;
}

.product-investor img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.product-investor p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 140%;
  color: #323232;
}

.product-investor small {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #828282;
}

.product-investor a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #5355a3;
}

.founder-info-modal {
  padding: 0 3.5rem;
  position: relative;
}

.close-founder-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.founder-links {
  column-gap: 1.7rem;
  row-gap: 10px;
  margin-top: 8px;
}
.founder-links a,
.founder-modal-mail a,
.founder-modal-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
  color: #828282;
}

.founder-links span,
.founder-modal-mail {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.founder-modal-title {
  margin-bottom: 2.25rem;
}

.full-profile-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.31rem;
  text-decoration-line: underline;
  color: #2e3192;
}

.investor-modal-info {
  background: #f7fbff;
  border-radius: 5px;
  padding: 1.75rem 1.31rem;
}

.close-investor-modal {
  background-color: transparent !important;
  border: none;
}

.close-investor-modal span {
  font-size: 32px;
}

.investment-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.44rem;
  letter-spacing: 0.01em;
  color: #3e3e3e;
}

.investment-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.31rem;
  letter-spacing: 0.01em;
  color: #3e3e3e;
}

.investor-modal-subtitles {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.31rem;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 1.25rem;
}

.investment-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.modal-profile-img {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}
