@import 'antd/dist/antd.css';
/* 
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css"; */



p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  padding: 1.5rem;
  max-width: 1440px;
  background: #e2e4e7;
}

.flex-align {
  display: flex;
  align-items: center;
}

.tab-wrap {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 8;
  padding: 10px;
}
/* input {
  padding:0 !important;
} */