@import "antd/dist/antd.css";
/* 
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css"; */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.blue-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #2e3192;
}

* {
  font-size: 16px;
}

@media (max-width: 1097px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 12px;
  }
}

.wrapper {
  padding: 1.5rem;
  max-width: 1440px;
  background: #f9fafa;
}

.flex-align {
  display: flex;
  align-items: center;
}

.tab-wrap {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 8;
  padding: 10px;
}

@media (max-width: 1024px) {
  .tab-wrap {
    position: unset;
    top: 0;
    background: #ffffff;
    padding: 10px;
  }
}

.white-strip {
  background-color: white;
  padding: 20px 16px;
  border-radius: 8px;
}

.white-strip>div {
  flex-basis: 50%;
}

.white-strip h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.delete-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #e31937;
  text-decoration: underline;
  cursor: pointer;
}

.view-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #2e3192;
  text-decoration: underline;
}

.space-out {
  column-gap: 10px;
  row-gap: 10px;
}

.max_fill {
  max-width: 100% !important;
}

.page-num {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #000000;
}

.mb-45 {
  margin-bottom: 2.5rem;
}

.error {
  color: #e31937;
}

/* bootstrap modal */
.modal {
  z-index: 1005 !important;
}

.modal-backdrop {
  z-index: 1000 !important;
}

.scroll_hide::-webkit-scrollbar {
  display: none !important;
}

.scroll_hide {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}