@import 'antd/dist/antd.css';

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


iframe {
  pointer-events: none;
}

/* input {
  padding: 0 !important;
} */
