.biz-card {
  background-color: white;
  padding: 1.5rem 1.8rem;
}

.biz-card h4 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 11px;
}

.biz-card p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #323232;
}
