.application-card-list > div {
  padding: 0 11px;
}

.application-card-list {
  max-width: 1200px;
}

.applicant-header h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #2e3192;
}

.applicant-header {
  margin-bottom: 37px;
}

.filter-btn {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  height: 49px;
  padding: 12px;
}
.filter-btn:focus {
  outline: none;
}
.applicant-tabs-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 8px;
  flex-basis: 70%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.applicant-tabs-list li {
  font-family: DM Sans;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #828282;
  padding-bottom: 8px;
  /* padding: 0 6px; */
  cursor: pointer;
  text-transform: capitalize;
}

.applicant-tabs-list li:hover {
  color: #0a6cf4;
}

.applicant-tabs-list li:active {
  color: #0a6cf4;
}

.active-tab {
  border-bottom: 6px solid #0a6cf4;
  color: #0a6cf4 !important;
  font-weight: bold !important;
}

.filter-menu {
  background-color: white;
  padding: 40px 18px;
  /* width: 100%; */
  width: 414px;
}

.kv-search-input {
  background: #ffffff;
  border: 1px solid #e6e7e9;
  border-radius: 8px;
  height: 45px;
}

.kv-search-input input {
  flex-basis: 90%;
  height: inherit;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.kv-search-input input:focus {
  outline: none;
}

.kv-search-input span {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: center;
}

.filter-check-list {
  border-bottom: 1px solid #d5d6f4;
  padding-bottom: 30px;
  margin-bottom: 24px;
}

.type-badge {
  display: flex;
  padding: 8px 19px;
  background: #f9f9fc;
  border-radius: 10px;
  width: fit-content;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #4f4f4f;
}

.type-badge-group {
  column-gap: 8px;
  row-gap: 8px;
}

.type-list {
  border-bottom: 1px solid #d5d6f4;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.filter-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2e2e2e;
}

.filter-clear {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 29px;
  color: #333333;
}

.filter-industry {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
