.container {
  max-width: 1400px;
  padding: 40px 50px;
  @media (max-width: 600px) {
    padding: 20px 20px;
  }

  header {
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
    p {
      font-family: "DM Sans", sans-serif;

      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;

      /* 900 */

      color: #2e3192;
    }
  }
}

.asset_container {
  display: grid;
  gap: 18px;
  row-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.hero {
  background: #f9f9fc;
  border-radius: 15px;
  padding: 32px 48px;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 65px;

  img {
    margin-right: 60px;
    object-fit: cover;
  }

  h3 {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 16px !important;
    margin-top: 10px !important;
    max-width: 557px;

    /* 900 */

    color: #2e3192;
  }
  p {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 40px !important;
    max-width: 420px;
    text-align: left;
    /* or 20px */

    color: #737373;
  }
}

.card_container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
  }
}

.card {
  background: #f3f3fd;
  border-radius: 20px;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 33px;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }

  span {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-left: 26px;

    color: #2e3192;
  }
}

.button {
  background: #2e3192;
  border-radius: 10px;
  border: none;
  height: 40px;
  padding: 10px 23px;

  font-family: "DM Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;

  color: #ffffff;
}

.stat {
  display: flex;
  align-items: center;
  p {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #2e3192;
    margin-right: 9.5px !important;
    margin-bottom: 0 !important;
  }

  span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #525151;
  }
}

.modal_desc_box {
  padding: 30px 24px;
  background: #f9f9fc;
  margin: 40px 0;
  h4 {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    display: flex;
    align-items: center;

    color: #000000;
  }
  p {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    text-transform: capitalize;

    color: #525151;
  }
}

.modal_owner {
  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: 16px;
    object-fit: cover;
  }
  h4 {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 0 !important;
    /* identical to box height, or 28px */

    color: #000000;
  }
  p {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    display: flex;
    align-items: center;

    color: #000000;
    margin-bottom: 24px !important;
  }
  span {
    font-family: "DM Sans", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    color: #000000;
  }
}
